@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600&display=swap');

@font-face {
  font-family: 'BluuNext';
  src: url('../../fonts/BluuNext-Titling.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BluuNext';
  src: url('../../fonts/BluuNext-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BluuNext';
  src: url('../../fonts/BluuNext-Bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textPrimary font-body antialiased;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F1115;
}

::-webkit-scrollbar-thumb {
  background: #2A2F3A;
  border-radius: 999px;
}
/* Fix date input calendar icon color */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}